.callHealthQuickview {
  display: flex;
}

.callHealthQuickview > * {
  display: flex;
  align-items: center;
}

.callHealthQuickview > *:not(:last-child) {
  margin-right: 10px;
}

.callHealthQuickview > .callHealthQuickview--healthy > span,
.callHealthQuickview > .callHealthQuickview--unhealthy > span {
  margin-left: 3px;
  font-size: 10px;
}
