.codeBlock-code--xml {
  color: green;
}

.codeBlock-code--json {
  color: orange;
}

.codeBlock {
  background-color: "black";
  overflow-wrap: "break-word";
  max-height: 500px;
  overflow-y: auto;
}
