.form-row {
  margin-bottom: 15px;
}

.FormField-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.FormField-field {
  font-size: 14px;
  border-color: #ebedf2;
  padding: 0.6rem 1rem;
  height: inherit;
  display: block;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
