.utrecht-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.utrecht-page__content {
    height: 100vh;
}

.utrecht-page-footer {
    margin-top: auto;
}

.utrecht-page-footer {
    border-top: 1px solid #eee;
}

.logo {
    height: 40px;

}

.logo-container {
    display: inline;
}
