.logsTable {
  max-height: 300px;
  overflow-y: scroll;
}

.logsTable table {
  width: 100%;
}

.logsTable table th,
.logsTable table td {
  padding: 14px 10px;
}

.logsTable thead th {
  font-weight: bold;
  color: #6c757d;
  padding-bottom: 20px;
}

.logsTable .logsTable-tr {
  border-top: 1px rgba(69, 65, 78, 0.1) solid;
  transition: transform 100ms ease-in;
}

.logsTable .logsTable-tr:hover {
  transform: scale(1.0175);
  cursor: pointer;
}

.logsTable tbody tr td {
  font-size: 16px;
}

.logsTable .logsTable-viewLogTd {
  display: flex;
  justify-content: right;
}

.logTable-table {
  width: 100%;
}

.logTable-table tr th {
  width: 30%;
}

.logsTable tr{
    white-space: nowrap;
}
