img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    text-align: left;
}

.card-text {
    font-weight: bold;
    margin-right: 10px;
}


.card-description {
    margin-top: 10px;
}
